@font-face {
	font-family: HelveticaNeueCyr-Light;
	src: url(../fonts/HelveticaNeueCyr-Light.otf);
}
@font-face {
 	font-family: HelveticaNeueCyr-Thin;
 	src: url(../fonts/HelveticaNeueCyr-Thin.otf);
}
@font-face {
 	font-family: HelveticaNeueCyr-Roman;
 	src: url(../fonts/HelveticaNeueCyr-Roman.otf);
}


body {
	background: #00bcd5;
}
.description {
	text-align: center;
	font-family: HelveticaNeueCyr-Roman;
}
.stores {
	text-align: center;
	margin:0 20%;
	display: block;
}
.close-descr-btn {
	position: relative;
	left: 90px;
}
